@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}
.mr-20 {
    margin-right: 20%;
}
.h-100 {
    height: 35rem;
}
.mr-21 {
    margin-right: 10%;
}
.w-84 {
  width: 20rem !important;
}
.login {
    display: flex;
    justify-content: space-between;
}

.img_login {
    width: 100%;
    height: 100vh;
}

.img_login img {
    width: 100%;
    height: 100%;
}

.login_2.container {
    display: grid;
    align-items: center;
}

form.form_login {
    max-width: 300px;
}
@media (min-width: 1920px) {
  .w-84 {
    width: 27rem;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}