@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}
.mr-20 {
    margin-right: 20%;
}
.h-100 {
    height: 35rem;
}
.mr-21 {
    margin-right: 10%;
}
.w-84 {
  width: 20rem !important;
}
.login {
  display: flex;
justify-content: space-between;
    /* background: url(http://10.0.1.47/30478678.jpg) no-repeat; */
    background-position: center;
}

.img_login {
    width: 100%;
    height: 100vh;
    justify-items: end;
    align-content: center;
}

.img_login img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login_2.container {
    display: grid;
    align-items: center;
    justify-items: center;
}
.title_login_for {
  align-items: center;
    justify-items: center;
    margin-bottom: 10px;
    font-size: 20px;
}
form.form_login {
    max-width: 400px;
    width: 400px;
    padding: 40px;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 1px 10px 0px #ffffff;
}
form.form_login input {
    margin: 20px 0;
    border-radius: 8px;
}
button.group.relative.w-full.flex.justify-center.py-2.px-4.mt-2.border.border-transparent.text-sm.font-medium.rounded-md.text-white.focus\:outline-none.focus\:ring-2.focus\:ring-offset-2.focus\:ring-blue-500.disabled\:opacity-50.disabled\:cursor-not-allowed {
    background: #3a2d99;
    transition: background-color 0.2s ease;
}
button.group.relative.w-full.flex.justify-center.py-2.px-4.mt-2.border.border-transparent.text-sm.font-medium.rounded-md.text-white.focus\:outline-none.focus\:ring-2.focus\:ring-offset-2.focus\:ring-blue-500.disabled\:opacity-50.disabled\:cursor-not-allowed:hover:not(:disabled) {
    background: #2d2277;
}
/* 
button.group.relative.w-full.flex.justify-center.py-2.px-4.mt-2.border.border-transparent.text-sm.font-medium.rounded-md.text-white.bg-blue-600.hover\:bg-blue-700.focus\:outline-none.focus\:ring-2.focus\:ring-offset-2.focus\:ring-blue-500.disabled\:opacity-50.disabled\:cursor-not-allowed {
    width: auto;
    display: block;
    margin: 0 auto;
    background: #295290;
}

h2.title_login {
    color: #ffff;
    text-transform: uppercase;
}

form.form_login input {
    background: #ffffff4f;
    border: none;
}

form.form_login label {
    color: #fff !important;
}

form.form_login input::placeholder {
    color: #fff;
} */
@media (min-width: 1920px) {
  .w-84 {
    width: 27rem;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}