@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}



.w-84 {
  width: 20rem;
}
@media (min-width: 1920px) {
  .w-84 {
    width: 27rem;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}